*{
	box-sizing: border-box;
	margin: 0px;
	font-family: sans-serif;
	font-weight: bold;
}
header{
	padding: 5px;
	align-items: center;
}
div{
}
.Menu{
	background-color: rgb(200, 200, 200);
	border: 3px solid black;
	margin: 10px;
}
h1{
	font-family: sans-serif;
	text-align: center;
	margin: 50px;
}
p{
	/*margin: 5px;*/
	padding: 5px;
}
p.item{	
	float: right;
	text-align: center;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	clear: left;
	width: 150px;
	height: 35px;
	margin-bottom: 10px;
	font-size: 140%;
}
p.description{
	clear: right;
	height: 200px;
	padding: 15px;
}
#Beaf{
	background-color: hotpink;
}
#Chicken{
	background-color: indianred;
	color: white;
}
#Sushi{
	background-color: lightyellow;
}
@media (min-width: 992px){
	.col-lg-4{
		float: left;
		/*border: 1px solid green;*/ 
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float: left;
		width: 50%;
	}
	.col-md-12{
		float: left;
		width: 100%;
	}
}
@media (max-width: 767px){
	.col-sm-12{
		float: left;
		width: 100%;
	}
}